<!DOCTYPE html>
<html>
  <head>
    <!-- <link rel="stylesheet" href="/app.csss" /> -->

    <title>Registration</title>
</head>
<body>
        <form action="/addUserCredentials" method="post">
            <h1> Sign up</h1>
      <label for ="username" value="username"> Username:</label> 
      <input type = "text" name="username" id="username" placeholder="Dumbledore11">
      <br>
      <br>
      <label for ="password" value="password">Password:</label>
      <input type ="text" name="password" id ="password" placeholder ="12345">
      <br>
      <br>
      <label for ="email"  value="email"> email:</label> 
      <input type ="text" name="email" id ="email" placeholder="dumbledore@hogwarts.ie">
      <br>
      <br>
      <input type="submit" value="Submit"> 
    </form>
</body>
</html>