<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/stylesheet.css" />

    <title>Log in</title>
</head>

<body>
    <div action="/user_hompage" method="post">
        Hello! <% data.user_name%>
    </div>
</body>

</html>